$purple-1: #854678;
$purple-2: #a86397;
$purple-3: #cca4c4;
$purple-4: #d7bfd3;

$grey-1: #1a1a1a;
$grey-2: #222222;
$grey-3: #717171;
$grey-4: #cbc9cd;
$grey-5: #f8f7f7;

$success: #00b95d;
$success--dark: #009049;
$success--light: #bfedd6;

$warning: #de2e32;
$warning--dark: #a72326;
$warning--light: #f7cbcc;

$white: #ffffff;
$black: #000000;
$yellow: #f4b400;
$yellow--light: #ffffe0;
