.note {
  border-top: solid 1px $grey-3;
  margin-bottom: $base-spacing-unit-tiny;
  &:last-child {
    border-bottom: solid 1px $grey-3;
    padding-bottom: $base-spacing-unit-tiny;
  }
  .note-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h3 {
      @include fontsize(16);
      font-weight: 600;
      margin: $base-spacing-unit-tiny 0 $base-spacing-unit 0;
      flex-basis: 100%;
      @include media($medium) {
        flex-basis: 60%;
      }
    }
    .note-id {
      @include fontsize(12);
      align-self: center;
      text-align: right;
      @include media($medium) {
        flex-basis: 40%;
      }
    }
  }
  p {
    @include fontsize(14);
    padding-top: $base-spacing-unit-tiny;
    margin-bottom: $base-spacing-unit-tiny;
    @include media($medium) {
      padding-top: 0;
    }
  }
  button {
    width: 80px;
    padding: $base-spacing-unit $base-spacing-unit-tiny;
    margin-bottom: 0;
    margin-right: $base-spacing-unit;
  }
}
